.navbar {
  margin-bottom: 0px;
  background-color: #ff4500;
  border-radius: 0;
  font-size: 13px !important;
  letter-spacing: 4px;
}

/* Add a white color to all navbar links */
.navbar li a, .navbar .navbar-brand {
 color: #fff !important;
 font-weight: bold;
}

/* On hover, the links will turn grey */
.navbar-nav li a:hover {
 background-color: #fff !important;
 color: #808080 !important;
}

@media screen and (max-width: 500px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}

/* Add a orange background color and some padding to the footer */
footer {
 width: 100%;
 color:white;
 background-color:#ff4500;
 padding: 25px;
 font-size: 13px !important;
 letter-spacing: 4px;
 display: block;
}

caption {
 display: table-caption;
 text-align: center;
}

.fa {
 padding: 20px;
 font-size: 30px;
 width: 65px;
 text-align: center;
 text-decoration: none;
 margin: 5px 2px;
 border-radius: 50%;
}

.fa:hover {
 opacity: 0.7;
}

.fa-facebook {
background: #3B5998;
color: white;
}

.fa-twitter {
background: #55ACEE;
color: white;
}

.fa-instagram {
background: #125688;
color: white;
}

h1 {
  margin: 0;
  font-size: 100px;
  font-family: 'arial';
  text-align: center;
  padding: 10px 0;
  color: white;
  text-shadow: 1px 0px 1px #ccc, 0px 1px 1px #eee,
2px 1px 1px #ccc, 1px 2px 1px #eee,
3px 2px 1px #ccc, 2px 3px 1px #eee,
4px 3px 1px #ccc, 3px 4px 1px #eee,
5px 4px 1px #ccc, 4px 5px 1px #eee,
6px 5px 1px #ccc, 5px 6px 1px #eee,
7px 6px 1px #ccc;
}

.column {
      float: left;
    width: 30%;
    display: block;
    text-align: left;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

body {
    font: 400 15px sans-serif;
    line-height: 1.8;
    color: #818181;
}

.jumbotron {
    font-family: sniglet, sans-serif;
}



h2 {
    font-size: 60px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
    font-family: 'Sniglet', cursive;
}



h4 {
    font-size: 25px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
    font-family: sans-serif;
}
